.uses {
  --maxWidthL: var(--maxWidthM);
}

.section {
  opacity: 0;
  padding-top: var(--space2XL);
  padding-bottom: var(--space2XL);
  margin-top: var(--space2XL);

  &:global {
    animation: fade-in 1s ease 1s forwards;
  }

  + & {
    margin-top: 0;
  }
}

.title {
  margin-bottom: var(--space2XL);
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--delay);
  opacity: 0;

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    transform: translate3d(0, var(--space5XL), 0);
  }

  &[data-status='entering'],
  &[data-status='entered'] {
    transform: none;
    opacity: 1;
  }

  &[data-status='exiting'] {
    transition-duration: var(--durationM);
    transition-delay: 0s;
    opacity: 0;

    @media (--mediaUseMotion) {
      transform: translate3d(0, calc(var(--space2XL) * -1), 0);
    }
  }
}

.divider {
  margin-bottom: var(--space3XL);
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--delay);
  opacity: 0;

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    transform: translate3d(0, var(--space5XL), 0);
  }

  &[data-status='entering'],
  &[data-status='entered'] {
    transform: none;
    opacity: 1;
  }

  &[data-hidden='true'] {
    opacity: 0;

    @media (--mediaUseMotion) {
      transform: translate3d(0, var(--space5XL), 0);
    }
  }

  &[data-status='exiting'] {
    transition-duration: var(--durationM);
    transition-delay: 0s;
    opacity: 0;

    @media (--mediaUseMotion) {
      transform: translate3d(0, calc(var(--space2XL) * -1), 0);
    }
  }
}

.input {
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--delay);
  opacity: 0;

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    transform: translate3d(0, var(--space3XL), 0);
  }

  + & {
    margin-top: var(--spaceXL);
  }

  &[data-status='entering'],
  &[data-status='entered'] {
    transform: none;
    opacity: 1;
  }

  &[data-hidden='true'] {
    opacity: 0;

    @media (--mediaUseMotion) {
      transform: translate3d(0, var(--space3XL), 0);
      transform: none;
    }
  }

  &[data-status='exiting'] {
    transition-duration: var(--durationM);
    transition-delay: 0s;
    opacity: 0;

    @media (--mediaUseMotion) {
      transform: translate3d(0, calc(var(--space2XL) * -1), 0);
    }
  }
}

.botkiller {
  display: none;
}

.button {
  --buttonLoaderDelay: var(--durationL);

  margin-top: calc(var(--spaceXL) * 2);
  transition-delay: var(--delay);
  transition-duration: var(--durationXL);
  opacity: 0;
  justify-self: flex-start;

  &[data-status='exiting'],
  &[data-status='exited'] {
    transition-property: opacity;
    transition-timing-function: var(--bezierFastoutSlowin);

    @media (--mediaUseMotion) {
      transition-property: transform, opacity;
      transform: translate3d(0, var(--space3XL), 0);
    }
  }

  &[data-status='entered'] {
    transition-delay: 0ms;
    transition-duration: var(--durationM);
  }

  &[data-sending='true'] {
    & svg {
      transition: transform var(--bezierFastoutSlowin) var(--durationXL),
        opacity var(--durationS) ease var(--durationS);
      transform: translate3d(var(--space5XL), 0, 0);
      opacity: 0;

      @media (--mediaReduceMotion) {
        transition-property: opacity;
        transform: none;
      }
    }
  }

  &[data-status='entering'],
  &[data-status='entered'] {
    opacity: 1;
  }

  &[data-status='entering']:not(:hover),
  &[data-status='entering']:hover {
    transform: none;
  }

  &[data-status='exiting'] {
    transition-duration: var(--durationM);
    transition-delay: 0s;
    opacity: 0;

    @media (--mediaUseMotion) {
      transform: translate3d(0, calc(var(--space2XL) * -1), 0);
    }
  }
}

.complete {
  grid-area: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spaceXL) var(--spaceM);
  text-align: center;
  inset: 0;
}

.completeTitle {
  margin: 0;
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--delay);
  opacity: 0;

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    transform: translate3d(0, var(--space3XL), 0);
  }

  &[data-status='entered'] {
    transform: none;
    opacity: 1;
  }
}

.completeText {
  margin-top: var(--spaceM);
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--delay);
  opacity: 0;

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    transform: translate3d(0, var(--space3XL), 0);
  }

  &[data-status='entered'] {
    transform: none;
    opacity: 1;
  }
}

.completeButton {
  margin-top: var(--spaceL);
  transition-duration: var(--durationXL);
  transition-delay: var(--delay);
  opacity: 0;

  &[data-status='entering'],
  &[data-status='exited'] {
    transition-property: opacity;
    transition-timing-function: var(--bezierFastoutSlowin);

    @media (--mediaUseMotion) {
      transition-property: transform, opacity;
      transform: translate3d(0, var(--space3XL), 0);
    }
  }

  &[data-status='entered'] {
    opacity: 1;

    &:not(:hover) {
      transform: none;
    }
  }
}
