.columns {
  margin: 20px 0 60px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Image on left, text on right */
  gap: 50px;
  margin: 40px 0;

  @media (--mediaTablet) {
    grid-template-columns: 1fr; /* Stacks on smaller screens */
  }
}

.gridImage {
  grid-column: 1;
  grid-row: 1;
  align-self: center;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.gridText {
  grid-column: 2;
  grid-row: 1;
  padding-top: 60px;
  color: white;

  @media (--mediaDesktop) {
    padding-top: 40px;
  }

  @media (--mediaTablet) {
    padding-top: 20px;
    text-align: center;
  }
}
